.field-pair {
    display: grid;
    width: calc(100% - 10px);
    grid-template-columns: 100px 1fr;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px gray;
    border-radius: 10px;
}

.field-pair > * {
    border: none;
    font-size: 15px;
}
