.Page-container {
    display: grid;
    grid-template-columns: 1fr 200px minmax(auto, 700px) 1fr;
}

.Page-mainContent,
.Page-sidebar {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

@media (max-width: 576px) {
    .Page-container {
        display: block;
    }
}
